[submodule "azure-cli"]
	path = azure-cli
	url = https://aur.archlinux.org/azure-cli.git
[submodule "zoom"]
	path = zoom
	url = https://aur.archlinux.org/zoom.git
[submodule "betterlockscreen"]
	path = betterlockscreen
	url = https://aur.archlinux.org/betterlockscreen.git
[submodule "brother-mfc-l3750cdw"]
	path = brother-mfc-l3750cdw
	url = https://aur.archlinux.org/brother-mfc-l3750cdw.git/
[submodule "doctl-bin"]
	path = doctl-bin
	url = https://aur.archlinux.org/doctl-bin.git/
[submodule "downgrade"]
	path = downgrade
	url = https://aur.archlinux.org/downgrade.git/
[submodule "informant"]
	path = informant
	url = https://aur.archlinux.org/informant.git/
[submodule "keybase-bin"]
	path = keybase-bin
	url = https://aur.archlinux.org/keybase-bin.git/
[submodule "lightdm-webkit-theme-aether"]
	path = lightdm-webkit-theme-aether
	url = https://aur.archlinux.org/lightdm-webkit-theme-aether.git/
[submodule "lnav"]
	path = lnav
	url = https://aur.archlinux.org/lnav.git/
[submodule "mojave-ct-icon-theme-git"]
	path = mojave-ct-icon-theme-git
	url = https://aur.archlinux.org/mojave-ct-icon-theme-git.git/
[submodule "nerd-fonts-hack"]
	path = nerd-fonts-hack
	url = https://aur.archlinux.org/nerd-fonts-hack.git/
[submodule "nerd-fonts-noto-sans-regular-complete"]
	path = nerd-fonts-noto-sans-regular-complete
	url = https://aur.archlinux.org/nerd-fonts-noto-sans-regular-complete.git/
[submodule "polybar"]
	path = polybar
	url = https://aur.archlinux.org/polybar.git/
[submodule "slack-desktop"]
	path = slack-desktop
	url = https://aur.archlinux.org/slack-desktop.git/
[submodule "xcwd-git"]
	path = xcwd-git
	url = https://aur.archlinux.org/xcwd-git.git/
[submodule "yay-bin"]
	path = yay-bin
	url = https://aur.archlinux.org/yay-bin.git/
[submodule "alacritty-git"]
	path = alacritty-git
	url = https://aur.archlinux.org/alacritty-git.git
[submodule "visual-studio-code-bin"]
	path = visual-studio-code-bin
	url = https://aur.archlinux.org/visual-studio-code-bin.git/
[submodule "batsignal"]
	path = batsignal
	url = https://aur.archlinux.org/batsignal.git
[submodule "authy-snap"]
	path = authy-snap
	url = https://aur.archlinux.org/authy-snap.git/
[submodule "molotov"]
	path = molotov
	url = https://aur.archlinux.org/molotov.git
[submodule "teams"]
	path = teams
	url = https://aur.archlinux.org/teams.git
[submodule "asdf-vm"]
	path = asdf-vm
	url = https://aur.archlinux.org/asdf-vm.git
