[submodule "zoom"]
	path = zoom
	url = https://aur.archlinux.org/zoom.git
[submodule "betterlockscreen"]
	path = betterlockscreen
	url = https://aur.archlinux.org/betterlockscreen.git
[submodule "brother-mfc-l3750cdw"]
	path = brother-mfc-l3750cdw
	url = https://aur.archlinux.org/brother-mfc-l3750cdw.git/
[submodule "downgrade"]
	path = downgrade
	url = https://aur.archlinux.org/downgrade.git/
[submodule "informant"]
	path = informant
	url = https://aur.archlinux.org/informant.git/
[submodule "keybase-bin"]
	path = keybase-bin
	url = https://aur.archlinux.org/keybase-bin.git/
[submodule "lightdm-webkit-theme-aether"]
	path = lightdm-webkit-theme-aether
	url = https://aur.archlinux.org/lightdm-webkit-theme-aether.git/
[submodule "mojave-ct-icon-theme-git"]
	path = mojave-ct-icon-theme-git
	url = https://aur.archlinux.org/mojave-ct-icon-theme-git.git/
[submodule "nerd-fonts-hack"]
	path = nerd-fonts-hack
	url = https://aur.archlinux.org/nerd-fonts-hack.git/
[submodule "nerd-fonts-noto-sans-regular-complete"]
	path = nerd-fonts-noto-sans-regular-complete
	url = https://aur.archlinux.org/nerd-fonts-noto-sans-regular-complete.git/
[submodule "polybar"]
	path = polybar
	url = https://aur.archlinux.org/polybar.git/
[submodule "slack-desktop"]
	path = slack-desktop
	url = https://aur.archlinux.org/slack-desktop.git/
[submodule "xcwd-git"]
	path = xcwd-git
	url = https://aur.archlinux.org/xcwd-git.git/
[submodule "yay-bin"]
	path = yay-bin
	url = https://aur.archlinux.org/yay-bin.git/
[submodule "visual-studio-code-bin"]
	path = visual-studio-code-bin
	url = https://aur.archlinux.org/visual-studio-code-bin.git/
[submodule "batsignal"]
	path = batsignal
	url = https://aur.archlinux.org/batsignal.git
[submodule "molotov"]
	path = molotov
	url = https://aur.archlinux.org/molotov.git
[submodule "asdf-vm"]
	path = asdf-vm
	url = https://aur.archlinux.org/asdf-vm.git
[submodule "i3lock-color"]
	path = i3lock-color
	url = https://aur.archlinux.org/i3lock-color.git
[submodule "archiver"]
	path = archiver
	url = https://aur.archlinux.org/archiver.git
[submodule "cura-appimage-bin"]
	path = cura-appimage-bin
	url = https://aur.archlinux.org/cura-appimage-bin.git
[submodule "github-release-bin"]
	path = github-release-bin
	url = https://aur.archlinux.org/github-release-bin.git
[submodule "authy"]
	path = authy
	url = https://aur.archlinux.org/authy.git
[submodule "saml2aws-bin"]
	path = saml2aws-bin
	url = https://aur.archlinux.org/saml2aws-bin.git
[submodule "deskreen"]
	path = deskreen
	url = https://aur.archlinux.org/deskreen.git
[submodule "aws-cli-v2-bin"]
	path = aws-cli-v2-bin
	url = https://aur.archlinux.org/aws-cli-v2-bin.git
[submodule "trivy-bin"]
	path = trivy-bin
	url = https://aur.archlinux.org/trivy-bin.git
[submodule "flux-bin"]
	path = flux-bin
	url = https://aur.archlinux.org/flux-bin.git
[submodule "plex-media-player"]
	path = plex-media-player
	url = https://aur.archlinux.org/plex-media-player.git
[submodule "pulseaudio-control"]
	path = pulseaudio-control
	url = https://aur.archlinux.org/pulseaudio-control.git
[submodule "nerdctl-bin"]
	path = nerdctl-bin
	url = https://aur.archlinux.org/nerdctl-bin.git
[submodule "teams-for-linux"]
	path = teams-for-linux
	url = https://aur.archlinux.org/teams-for-linux.git
[submodule "krew-bin"]
	path = krew-bin
	url = https://aur.archlinux.org/krew-bin.git
[submodule "bitwarden-cli-bin"]
	path = bitwarden-cli-bin
	url = https://aur.archlinux.org/bitwarden-cli-bin.git
[submodule "ookla-speedtest-bin"]
	path = ookla-speedtest-bin
	url = https://aur.archlinux.org/ookla-speedtest-bin.git
[submodule "rpi-imager-bin"]
	path = rpi-imager-bin
	url = https://aur.archlinux.org/rpi-imager-bin.git
[submodule "azure-cli-bin"]
	path = azure-cli-bin
	url = https://aur.archlinux.org/azure-cli-bin.git
[submodule "lightdm-webkit2-theme-glorious"]
	path = lightdm-webkit2-theme-glorious
	url = https://aur.archlinux.org/lightdm-webkit2-theme-glorious.git
[submodule "arduino-ide-bin"]
	path = arduino-ide-bin
	url = https://aur.archlinux.org/arduino-ide-bin.git
[submodule "velero-bin"]
	path = velero-bin
	url = https://aur.archlinux.org/velero-bin.git
[submodule "esphome-flasher"]
	path = esphome-flasher
	url = https://aur.archlinux.org/esphome-flasher.git
