[submodule "azure-cli"]
	path = azure-cli
	url = https://aur.archlinux.org/azure-cli.git
[submodule "zoom"]
	path = zoom
	url = https://aur.archlinux.org/zoom.git
[submodule "vscodium-bin"]
	path = vscodium-bin
	url = https://aur.archlinux.org/vscodium-bin.git
[submodule "betterlockscreen"]
	path = betterlockscreen
	url = https://aur.archlinux.org/betterlockscreen.git
